.center-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 1.3em;
    color: #333;
}


.favorite-button {
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 50px;
}

.favorite-button:hover {
    color: #f00;
}

.favorite-button.active {
    color: #f00;
}


.child {
    font-size: 0.5em;
}